/* Chat contenedor */
.chatbox {
    border: 2px solid #dedede;
    background-color: #666666;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
    max-height: 350px;
  }
  
  /* contenedor mensaje chat */
  .mensage {
    border-color: #ccc;
    background-color: #444444;
  }
  
  .mensage.left {
    float: left;
  }

  .mensage.right {
    float: right;
    text-align: right !important; 
  }
  
  /* Clear floats */
  .container::after {
  content: "";
  clear: both;
  display: table;
  }

  /* Style images */
  .chatbox img {
    max-width: 100%;
    padding: 0px;
    margin-top: 0px;
    border-radius: 50%;
  }
  
  .chatbox img.left{
    float: left;
    margin-right: 20px;
  }

  /* Style the right image */
  .chatbox img.right {
    float: right;
    margin-left: 20px;
  }
  
  /* Style time text */
  .time-right {
    float: right;
    color: #aaa;
    font-size: 10px;
  }
  
  /* Style time text */
  .time-left {
    float: left;
    color: #999;
    font-size: 10px;
  }
